.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.local
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore files for PNPM, NPM and YARN
/.pnpm-store
package-lock.json
pnpm-lock.yaml
yarn.lock
